<div class = "container text-center">
    <input type = "text" class = "txtbox" placeholder="Search by username..."
              [(ngModel)] = "filterInput"/>
    <div *ngIf = "filterInput">
  <h3 style = "color: white; margin-bottom: 20px;">{{filterInput}}</h3>
</div>  

<div class="card text-center" *ngIf = "clicked">
  <div class="card-block">
    <h4 class="card-title">USER DETAILS</h4>
    <p class="card-text">Country: {{country}}</p>
    <a (click) = 'closeDetails()' href="#" class="btn btn-success">Close</a>
  </div>
</div>

<br>

<div *ngIf = "filteredUsers && filteredUsers.length; else noUser">
  <div class = "container" *ngFor = "let user of filteredUsers">
      <div class="card text-center">
          <div class="card-block">
            <h4 class="card-title">{{user.name}} {{user.surname}} ({{user.userName}})</h4>
            <p class="card-text">{{user.description}}</p>
            <a (click) = 'viewDetails(user.userId)' href="#" class="btn btn-success">Details</a>
          </div>
      </div>
      <br>
  </div>
</div>

<ng-template #noUser>
  <h2 style = "color: rgb(3, 80, 143)">User does not exist.</h2>
</ng-template>
