
<div class = "container">
    <div class="card text-center">
        <div class="card-block">
          <h4 class="card-title">UserName</h4>
          <p class="card-text">Description</p>
          <a href="#" class="btn btn-success">Details</a>
        </div>
    </div>
    <br>
    <div class="card text-center">
          <div class="card-block">
            <h4 class="card-title">UserName</h4>
            <p class="card-text">Description</p>
            <a href="#" class="btn btn-success">Details</a>
          </div>
    </div>
</div>

